@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.brand-logo {
  margin: 10px;
  font-family: 'Lobster', cursive;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  margin-left: 10px;
}

.material-icons {
  margin: 10px;
}
