@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:600&display=swap');
/*
1. body
2. general
3. nav bar
4. footer
5. intro page
6. featured page
7. profile page
8. compare input
9. compare display
10. login/signup page
11. about page
*/

body {
  font-family: sans-serif;
  position: relative;
}

/* **************************************** general */
:root {
  --color1: rgb(42, 44, 68);
  --color2: rgb(10, 5, 63);
  --color3: #6e8ef6;
  --colorLeft: darkgreen;
  --colorRight: brown;
}
a {
  text-decoration: none;
}
label {
  display: block;
}
.brand-logo {
  margin: 10px;
  font-family: 'Lobster', cursive;
}
form div {
  margin: 1em;
  display: inline-block;
}
button {
  margin-left: 10px;
}
.material-icons {
  margin: 10px;
}
#anything {
  text-decoration: underline var(--color3);
}
.waves-effect {
  margin-bottom: 20px;
}
.gh-button {
  margin: 10px;
}

/* **************************************** nav bar */
nav a {
  display: inline-block;
  margin: 1em;
}
#ourNav {
  background: whitesmoke;
  border-bottom: 1px solid black;
  box-shadow: none;
}
#nav-ul {
  margin-right: 50px;
}
.link {
  color: black;
  margin: 0px;
  margin-left: 10px;
  font-family: 'Maven Pro', sans-serif;
}
.link:hover {
  color: rgb(44, 25, 216);
}
#unicorn {
  color: rgb(94, 142, 247);
  margin-left: 15px;
  margin-bottom: 7px;
  font-family: 'Maven Pro', sans-serif;
}

/* *********************************************************** footer */
.footer-container {
  position: relative;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100px;
  width: 100%;
  background-color: rgb(204, 203, 203);
  margin-top: 50px;
  font-family: 'Maven Pro', sans-serif;
}
#git-logo {
  margin-top: 8px;
  margin-right: 10px;
}

/* *********************************************************** intro page */
.intro-header {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  font-size: 36px;
  animation-fill-mode: forwards;
}
.intro-content {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  animation-fill-mode: forwards;
}
.card-image {
  object-fit: contain;
  opacity: 0.9;
}
.card {
  height: 550px;
  width: 300px;
}
.cards {
  display: flex;
  flex-direction: row;
  margin-top: 75px;
  margin-left: 235px;
  max-width: 850px;
  animation-fill-mode: forwards;
}
#try-it-btn {
  background-color: var(--color3);
  margin-bottom: 20px;
}
#try-it-btn:hover {
  background-color: rgb(46, 6, 56);
}
#ci1t {
  color: black;
  font-weight: bold;
}
#ci2t {
  color: white;
  font-weight: bold;
}
#ci3t {
  color: black;
  font-weight: bold;
}
.card-content {
  text-align: center;
}

/* ********************************************************** home page */
#featured {
  display: flex;
  flex-direction: column;
}
.featured-divs {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 7px;
  margin-top: 7px;
  padding: 10px;
  width: 1400px;
  border: 1px solid gray;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 1px);
}
#welcome-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url('/img/welcome.svg');
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 7px;
  margin-top: 7px;
  padding: 10px;
  width: 1400px;
  border: 1px solid gray;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 1px);
}

#welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 800px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 1px);
  background-color: whitesmoke;
}
#welcome-img {
}
#welcome-text1 {
  width: 300px;
  text-align: center;
}
#welcome-text2 {
  width: 450px;
  text-align: center;
}
#did-you-know {
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 229, 229);
  height: 300px;
  filter: drop-shadow(0px 0px 1px rgb(238, 13, 13));
}
#did-you-know-header {
  background-color: rgb(247, 169, 159);
  border: 1px solid rgb(112, 30, 30);
  padding-left: 6px;
  font-weight: bolder;
}
#section2-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}
#dyn-column1 {
  margin-right: 15px;
  width: 400;
}
#dyn-column2 {
  width: 400;
}
#dyn-column3 {
  margin-left: 15px;
  width: 400;
}
.bullet-point {
  text-align: end;
  font-size: 20px;
}
#featured-comparison {
  background-color: rgb(248, 255, 244);
  margin-bottom: 15px;
  filter: drop-shadow(0px 0px 1px rgb(92, 224, 15));
}
#featComp-header {
  background-color: rgb(198, 223, 183);
  border: 1px solid rgb(129, 180, 150);
  padding-left: 6px;
  font-weight: bolder;
}
#featComp-content-boxes {
  display: flex;
  flex-direction: row;
}

/* ********************************************************** profile page */
.profile-header {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
}
.profile-p1 {
  font-size: 30px;
}
.profile-p2 {
  font-size: 20px;
}
.input-fields {
  width: 200px;
  margin: 50px;
  text-align: center;
}
#input {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding-left: 8px;
}
#profile-labels {
  color: black;
}
#input-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: whitesmoke;
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 10px;
  padding: 20px;
  filter: drop-shadow(0px 0px 2px var(--color3));
}
.avatar {
  margin-bottom: 30px;
}
#propic-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: whitesmoke;
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 10px;
  padding: 20px;
  filter: drop-shadow(0px 0px 2px var(--color3));
}
#pro-container {
  display: flex;
  flex-direction: column;
}
#propic-form {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
#propic-btn {
  margin-top: 3px;
  width: 96px;
}
#propic-pic {
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 7px;
  min-width: 250px;
  max-width: 300;
  max-height: 400px;
}
#pro-message {
  width: 500px;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
}
#save-profile-btn {
  position: fixed;
  bottom: 110px;
  left: 70px;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  background-color: rgb(14, 14, 168);
  color: white;
}
#save-profile-btn:hover {
  background-color: blue;
}

/* ********************************************************** compare input */
#compareForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 35px;
  margin-right: 150px;
  margin-left: 145px;
}
#compare-btn {
  background-color: var(--color2);
  height: 40px;
}
#compare-btn:hover {
  background-color: blue;
}
#input1 {
  border: 1px solid var(--colorLeft);
  padding: 3px;
  height: 35px;
  width: 250px;
  border-radius: 3px;
  background-color: rgb(204, 231, 204);
}
#input2 {
  border: 1px solid var(--colorRight);
  padding: 3px;
  height: 35px;
  width: 250px;
  border-radius: 3px;
  background-color: rgb(240, 206, 206);
}
#insert-btn {
  position: absolute;
  margin-left: 7%;
  top: 225px;
  height: 30px;
  color: rgb(253, 251, 251);
  background-color: darkgreen;
  border-radius: 3px;
}
#insert-btn:hover {
  background-color: green;
}
#my-profile {
  text-align: center;
  position: absolute;
  background-color: rgb(32, 97, 12);
  padding: 10px;
  color: white;
  margin-left: -258px;
  margin-top: 0px;
  width: 258px;
  height: 45px;
  border-radius: 3px;
}
.empty-div {
  position: absolute;
}
.in-drop {
  display: flex;
  flex-direction: column;
}
.drop-container1 {
  display: flex;
  position: absolute;
  margin-top: 80px;
  width: 320px;
  background-color: white;
}
.drop-container2 {
  display: flex;
  position: absolute;
  width: 320px;
  margin-left: -50px;
  margin-top: 0px;
  background-color: white;
}
.drop-list {
  display: flex;
  flex-direction: column;
}
.drop-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 500px;
  border-style: solid;
  border-width: 0.5px;
  border-top-width: 0px;
  padding: 2px;
  width: 320px;
}
.drop-item:hover {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 500px;
  border-style: solid;
  border-width: 0.5px;
  padding: 2px;
  background-color: var(--color2);
  color: white;
}
.drop-label {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  padding-left: 1px;
}
.drop-description {
  margin: 0px;
  padding: 0px;
  padding-left: 1px;
}

/* ********************************************************** compare display */
#compare-dis {
  display: flex;
  flex-direction: row;
}
#elisCards {
  display: flex;
  flex-direction: row;
}
.elisCard {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  padding: 15px;
  margin: 20px;
  background-color: #f8f9fa;
}
#leftCard {
  border-width: 1px;
  border-style: groove;
  border-radius: 2px;
  border-color: var(--colorLeft);
}
#rightCard {
  border-width: 1px;
  border-style: groove;
  border-radius: 2px;
  border-color: var(--colorRight);
}
.smallCards {
  width: 24%;
}
.smallTitleLeft {
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background: var(--colorLeft);
  color: white;
}
.smallTitleRight {
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background: var(--colorRight);
  color: white;
}
.smallSubTitle {
  margin: 5px;
  text-align: center;
}
.compare-img {
  margin-left: 10px;
  height: 350px;
}
.smallPictureDescription {
  text-align: center;
}
.smallInfoTitleLeft {
  text-align: center;
  font-weight: bold;
  background: var(--colorLeft);
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
}
.smallInfoTitleRight {
  text-align: center;
  font-weight: bold;
  background: var(--colorRight);
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
}
.leftLabel {
  color: var(--colorLeft);
}
.rightLabel {
  color: var(--colorRight);
}
.twoProp {
  font-weight: bold;
}
.smallInfoInfo {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
}
.theSmalls {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  justify-content: space-between;
}
.smallInfoH {
  display: flex;
  flex-wrap: wrap;
  max-width: 80px;
  justify-content: flex-start;
  font-weight: bold;
}
.smallInfoD {
  display: flex;
  flex-direction: row;
  text-align: end;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 80px;
}
.bigCards {
  width: 48%;
  border-radius: 2px;
}
.bigTitle {
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background: var(--color2);
  color: white;
}
.levelHeader {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: flex-end;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(3, 3, 48);
  color: var(--color2);
  margin-top: 5px;
}
.levelHeader-text {
  display: flex;
  flex-direction: row;
  margin-right: 260px;
}
.levelHeader-btn {
  text-align: center;
  width: 21px;
  height: 21px;
  margin: 2px;
  background-color: rgb(18, 18, 128);
  color: white;
  border-radius: 1px;
}
.level-info {
  display: flex;
  max-width: 500px;
  position: absolute;
  margin-top: 20px;
  border: 1px solid rgb(63, 61, 61);
  padding: 5px;
  background-color: rgb(250, 252, 253);
  box-shadow: 0px 0px 2px black;
}

/* ********************************************************** comments */
#comments-div {
  margin: 15px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 100px;
  background-color: rgb(245, 239, 229);
  border-radius: 5px;
}

#comments-title {
  font-family: 'Maven Pro', sans-serif;
}

.comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(245, 243, 241);
}
.comment-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ********************************************************** signup/login */
#signup-form-main {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: whitesmoke;
  top: 200px;
  left: 500px;
  border: 2px solid var(--color3);
  margin: 30px;
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 30px;
  padding-bottom: 15px;
  backdrop-filter: blur(3px);
  filter: drop-shadow(0px 0px 1px);
}
.login-header {
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  text-decoration: underline var(--color3);
}
#signup-form-sub {
  display: flex;
  flex-direction: column;
  margin: 30px;
  margin-top: 60px;
  margin-bottom: 10px;
  align-items: center;
}
#signup-img {
  width: 1400px;
  height: 950px;
  opacity: 0.3;
}
#signup-google {
  display: flex;
  flex-direction: row;
  background-color: rgb(7, 7, 100);
  border-radius: 5px;
}
#google-icon {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 2px;
  padding: 5px;
  background-color: white;
}
#google-text {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  margin-left: 30px;
}
#signup-btn {
  background-color: var(--color3);
}
#or {
  text-align: center;
  font-size: 125%;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}
#email {
  color: var(--color3);
}
#email-input {
  border-color: var(--color3);
}
#password {
  color: var(--color3);
}
#password-input {
  border-color: var(--color3);
}
.backgroundImage {
  z-index: -1;
}
.login-notmember {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: center;
}
.notmember-p {
  font-family: 'Maven Pro', sans-serif;
}

/* ********************************************************** about page */
#about-page {
  margin-top: 0px;
  background-image: url('/img/welcome.svg');
  padding-top: 15px;
  padding-bottom: 15px;
}
#about-content {
  display: flex;
  flex-direction: column;
  width: 1380;
  padding: 20px;
  padding-top: 0px;
  margin: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: whitesmoke;
  border-radius: 10px;
}
.about-box {
  width: 1300;
}
.about-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
}
.about-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#about-card {
  width: 30%;
}
#harry-content {
  /* background-color: rgb(205, 224, 222); */
}
#peter-content {
  /* background-color: rgb(191, 191, 226); */
}
#eli-content {
  /* background-color: rgb(168, 224, 241); */
}
