@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:600&display=swap');

body {
  font-family: sans-serif;
  position: relative;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.brand-logo {
  margin: 10px;
  font-family: 'Lobster', cursive;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  margin-left: 10px;
}

.material-icons {
  margin: 10px;
}

.intro-header {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.intro-content {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
}

.footer-container {
  position: relative;
}

.footer {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  padding: '20px';
  position: 'fixed';
  left: '0';
  bottom: '0';
  height: 100px;
  width: 100%;
  background-color: #ec6d74;
}

/* #home-page {
  min-height: 100%;
  position: relative;
} */

.card-image {
  object-fit: contain;
  opacity: 0.8;
}

.card {
  height: 350px;
  width: 300px;
}

.cards {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  margin-left: 300px;
}

.waves-effect {
  margin-bottom: 20px;
}

.gh-button {
  margin: 10px;
  
#elisCards {
  display: flex;
  flex-direction: row;
}
.elisCard {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  padding: 15px;
  margin: 20px;
  background-color: #f8f9fa;
}
.smallCards {
  width: 24%;
}
.smallTitle {
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background: #b50001;
  color: white;
}
.smallSubTitle {
  margin: 5px;
  text-align: center;
}
img {
  margin-left: 10px;
}
.smallPictureDescription {
  text-align: center;
}
.smallMain {
}
.smallInfo {
}
.smallInfoTitle {
  text-align: center;
  font-weight: bold;
  background: #b50001;
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
}
.smallInfoInfo {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
}
.theSmalls {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  justify-content: space-between;
}
.smallInfoH {
  display: flex;
  flex-wrap: wrap;
  max-width: 80px;
  justify-content: flex-start;
  font-weight: bold;
}
.smallInfoD {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 80px;
}
.bigCards {
  width: 48%;
}
.bigTitle {
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background: #b50001;
  color: white;
}
.levelHeader {
  text-align: center;
  font-weight: bold;
  background: rgb(2, 150, 137);
  color: white;
  margin-top: 5px;
}

#compareForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-top: 35px;
  /* padding: 20px;
  padding-top: 35px;
  margin-top: 30px;
  border: 5px black solid;
  border-bottom: none;
  border-left: none;
  border-right: none; */
}
